<body class = "auth">
	<div class = "container" id = "home">
		<div class = "row">
			<h1> Chatrooms! </h1>
		</div>
		
		<div class = "container" id  = "home-buttons">
			<div class = "row">
				<div class = col-md-6 id = "home-login">
					<a href="login"><button href = "login" class = "btn btn-primary text-center"> Login </button></a>
				</div>

				<div class = col-md-6 id = "home-signup">
					<a href="signup"><button href = "signup" class = "btn btn-primary text-center"> Sign up </button></a>	
				</div>	
			</div>
		</div>
	</div>
</body>