<style type="text/css">
  html, body, .parent-container {
    margin: 0;
    height: 100%;
  }
</style>

<body class="auth">
    <div class="parent-container">
      <div class="container no-select">
          <h1 class="page-header text-center"> Sign up </h1>  
            <form method="POST" autocomplete="off" spellcheck="false">
              <div class="form-group">
                <input type="text" class="form-control" value="<%= enteredUsername ? enteredUsername : '' %>" name ="username" id="username" placeholder=" " autocomplete="new-password">
                <label for="username" class="floating-label">
                  <span class="floating-label-content"> Username </span>
                </label>

                <% if (usernameError.length > 0) { %>
                  <div class="account-error" data-type-error="username">
                    <%= usernameError %>
                  </div>
                  <script>
                    $('#username').css('border-bottom-color', 'red');
                  </script>
                <% } %>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="password" autocomplete="new-password" id="password" placeholder=" ">
                <label for="password" class="floating-label">
                  <span class="floating-label-content"> Password </span>
                </label>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="cpassword" autocomplete="new-password" id="cpassword" placeholder=" ">
                <label for="cpassword" class="floating-label">
                  <span class="floating-label-content"> Confirm Password </span>
                </label>
              </div>

              <div class="form-group button-container">
                <button type="submit" class="btn btn-primary text-center bg-transparent border-0"> Sign up </button>
              </div>

              <p>
                <small> Already have an account? <a href="login"> Login. </a> </small>
              </p>
            </form>
        </div>
      </div>

    <script type="text/javascript" src="auth.js"> </script>
</body>