.auth {
	background: rgba(0,0,0, 0.85);
	overflow: auto;
	font-family: "Helvetica", Times, serif;
}

.auth h1 {
	margin-bottom: 10px;
	color: white;
	font-size: 2.5rem;
}

.auth p {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	color: white;
	font-size: 1rem;
}

.auth a {
	color: rgb(185, 185, 185);
	font-size: 0.8rem;
}

.auth a:active {
	color: rgb(100, 100, 100);
	text-decoration: none;
}

.auth .btn-primary {
	box-shadow: none !important;
	border: 1px solid white !important;
	border-color: white;
	background-color: black;
	white-space: nowrap;
	width: 150px;

	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

.auth .btn-primary:active {
	box-shadow: 0 0 10px 0 #FFFFFF inset, 0 0 20px 2px #FFFFFF !important;
 	border: 1px solid #FFFFFF !important;

	background-color: white !important;
	color: black !important;
}

.auth .form-group {
	position: relative;
	width: 100%;
	padding-top:  20px;
	padding-bottom: 10px;

	-webkit-backface-visibility: hidden;
}

.auth .form-group .floating-label {
	position: absolute;
	width: 100%;
	font-size: 1rem;
	color: #C0C0C0;
	bottom: 10px;
	left: 10px;
	pointer-events: none;
}

.auth .form-group input {
	font-size: 15px;
	position: relative;
	color: white;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid white;
	border-radius: 0;
	width: 100%;
	padding-bottom: 0;
	padding-top: 5px;
}

.auth .form-group input:focus {
	box-shadow: none;
	text-decoration: none !important;
}


.auth .form-group input:-webkit-autofill:hover + .floating-label .floating-label-content {
	font-size: 12px;
	transform: translateY(-150%);
}

.auth .form-group input:not(:placeholder-shown) + .floating-label .floating-label-content,
.auth .form-group input:focus + .floating-label .floating-label-content {
	font-size: 12px;
	transform: translateY(-150%);
}

_::-webkit-full-page-media, _:future, :root .auth .form-group input:not(:placeholder-shown) + .floating-label .floating-label-content,
_::-webkit-full-page-media, _:future, :root .auth .form-group input:focus + .floating-label .floating-label-content {
  font-size: 15px;
  transform: translateY(-100%);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border-bottom: 1px solid #ffffa1 !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.auth .floating-label-content {
	font-size: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .1s ease;
}

.auth .button-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

  	padding-bottom: 5px;
}

.auth .anchor {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 10px;
	left: 50%;
	margin-left: 20px;
	background-color: blue;
}

.auth .parent-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.auth .container {
	position: relative;

	padding: 30px 25px 15px 25px;
	max-width: 500px;
	background-color: black;
	border: 1px solid grey;
	border-radius: 15px;
	margin: auto;
}

.auth .account-error {
	position: absolute;
	width: 100%;
	color: red;
	font-size: 0.7rem;
	bottom: -7px;
}

@media (hover: hover) {
	.auth a:hover {
		color: rgb(100, 100, 100);
		text-decoration: none;
	}

	.auth .btn-primary:hover {
		box-shadow: 0 0 10px 0 #FFFFFF inset, 0 0 20px 2px #FFFFFF !important;
 		border: 1px solid #FFFFFF !important;
	}
}

@media only screen and (max-width: 500px){
	.auth {
		background: black;
	}

	.auth .form-group {
		margin-left: auto;
   	 	margin-right: auto;
		width: 90%;
	}

	.auth .container {
		border: none;
		background: black;
		width: 100%;
		overflow: hidden;
		margin-bottom: 50%;
		min-width: 350px;
		margin: auto;
	}

	.auth .btn-primary {
		min-width: 250px;
	}
}

.tooltip {
    position: fixed !important;
}

.chatroom {
	background-color: rgba(0,0,0, 0.85);
	font-family: Arial, Helvetica;
	-webkit-overflow-scrolling: touch;
}

.chatroom:after {
 	position: absolute; overflow: hidden; left: -50000px;
 	content: url('/Images/x-icon.png') url('/Images/send-icon.png') url('/Images/left-arrow.png'); 
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.chatroom .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.3);
	z-index: 10;
}

.chatroom .spinner-border {
	color: white;
}

.chatroom .navbar {
	background-color: black;
	width: 100vw;
}

.chatroom .searchbox-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.chatroom .search-container {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	left: -5%;
	right: 0;
	top: 13px;
	width: 45%;
}

.chatroom #search-bar {
	position: relative;
}

.chatroom .search-tag {
	display: none;
	position: absolute;
	color: white;
	left: 5px;
	margin-top: 6px;
	border-radius: 5px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: rgba(186,85,211,0.7);
	z-index: 1;
}

.chatroom .cancel-search {
	position: absolute;
	color: white !important;
	font-size: 0.8em;
	cursor: pointer;
	right: -50px;
}


.chatroom .search-icon-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	position: absolute;
	right: 0;
	width: 5%;
	min-width: 40px;
	height: 35px;
	z-index: 0;
	transition: border-color .2s linear;
}

.chatroom .search-minimize {
	text-align: center;
	display: none;
	cursor: pointer;
	margin-bottom: 13px;
}

.chatroom .search-minimize .fa-search {
	transform: scale(1.5); 
	transition: color .2s linear;
}

.chatroom .fa-search {
	color: white;
}

.chatroom .x-icon {
	background: url('/Images/x-icon.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 50%, 50%;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.chatroom #search {
	border-radius: 0;
	padding-right: 40px;
	background: black;
	border: 1px solid white;
	color: white;
	width: 100%;
	height: 35px;
	line-height: 20px;
	float: left;
	transition: border-color .2s;
	-webkit-backface-visibility: hidden;
}

.chatroom .d-menu {
	z-index: 10000;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

.chatroom .search-wrapper {
	display: none;
	position: absolute;
	border-top: none;
	width: 100%;
	left: 0px;
	top: 37px;

	-moz-box-shadow: 0 0 3px black;
	-webkit-box-shadow: 0 0 3px black;
	box-shadow: 0 0 3px black;
}

.chatroom .search-dropdown {
	position: relative;
	background-color: #111112;
	max-height: 450px;
	overflow: auto;
	padding: 0;
}

.chatroom .search-options {
	color: white;
}

.chatroom .search-options-header {
	display: block;
	padding: 5px 5px 10px 5px;
}

.chatroom .search-option {
	color: rgba(90, 90, 90, 0.9);
	cursor: pointer;
	padding: 5px;
}

.chatroom .search-option b {
	color: white;
}

.chatroom .search-user {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	padding: 10px;
	line-height: 15px;
	height: 45px !important;
}

.chatroom .dropdown {
	cursor: pointer;
}

.chatroom .ellipses {
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.chatroom .navbar-brand {
	color: white;
	max-width: 150px;
}

.chatroom .icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #FFFFFF;
	display: block;
	transition: all .2s linear;
	margin-top: 4px
}
 
.chatroom .navbar-toggler {
  border: none;
  background: transparent !important;
}

.chatroom .navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.chatroom .navbar-toggler .middle-bar {
  opacity: 0;
}
 
.chatroom .navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.chatroom .navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.chatroom .navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.chatroom .navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.chatroom .navbar-toggler:focus,
.chatroom #search:focus,
.chatroom #user-input:focus {
	outline: none;
	box-shadow: none;
}

.chatroom #no-private-messages {
	padding: 0px;
	margin-top: 10px;
}

.chatroom .dropdown-menu {
	position: relative;
	background-color: #111112;
	width: 320px;
	left: -195px;
	padding-top: 0px;
	padding-bottom: 0px;
	max-height: 450px;
	overflow: auto;

	-moz-box-shadow: 0 0 3px #111112;
	-webkit-box-shadow: 0 0 3px #111112;
	box-shadow: 0 0 3px #111112;
}

.chatroom .disable-pointer {
	pointer-events: none;
}

.chatroom .dropdown-item {
	position: relative;
	background-color: #111112;
	width: 100%;
	height: 75px;
	color: white;
	cursor: pointer;
	padding: 5px;
	margin-right: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.chatroom .selected {
	background-color: #393c40;
}

.chatroom .recent-message-date,
.chatroom .recent-message-content {
	color: #808080;
}

.chatroom .unseen .recent-message-content {
	color: #629cf5;
}

.chatroom .unseen .recent-message-title {
	font-weight: bold;
}

.chatroom .recent-message-title,
.chatroom .recent-message-content {
	display: inline-block;
	margin: 0;
	padding: 5px;	
}

.chatroom .recent-message-title {
	padding-bottom: 2px;
}

.chatroom .recent-message-content {
	padding-top: 2px;
}

.chatroom .left-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-between;
	-ms-flex-pack: center;
	justify-content: space-between;

	height: 100%;
	width: 70%;
	float: left;
}

.chatroom .right-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	justify-content: space-between;

	height: 100%;
	width: 30%;
	float: right;
}

.chatroom .recent-message-date {
	position: absolute;
	right: 5px;
	font-size: 0.8em;
}

.chatroom .unseen-messages {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

	width: 22px;
	height: 22px;
	font-size: 15px;
	line-height: 15px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: blue;
	color: white;
}

.chatroom .inner {
	position: absolute;
	bottom: 12px;
	right: 20px;
}

.chatroom .outter {
	position: absolute;
	width: 21px;
	height: 21px;
	font-size: 14px;
	line-height: 14px;
	left: 26px;
	top: -2px;
	background-color: red;
}

.chatroom .fa-envelope-o {
	display: block;
	color: white;
	cursor: pointer;
	padding-bottom: 2px;
	padding-left: 4px;
	transition: background .2s linear;
}

.chatroom .nav-container {
	position: relative;
	width: 60px;
}

.chatroom .m-icons-wrapper {
	padding-top: 3px;
	width: 100%;
}

.chatroom .no-messages {
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-size: 1.1em;
	color: rgba(255, 255, 255, 0.6);
	height: 60px;
}

.chatroom .nav-link {
	color: white;
	box-shadow: none;
	outline: none;
	border: none;
	transition: color .2s linear;
}

.chatroom h6 {
	font-size: 1.2rem;
	padding: 5px;
	color: white;
}

.chatroom .input-fields-container {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 75%;
	height: 29px;
}

.chatroom .input-fields-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.chatroom .button-container {
	position: absolute;
	background-color: rgba(103,103,103, 0.5);
	right: 0;
	bottom: 0;
	width: 20%;
	height: 100%;
	border: none;
	border-left: 1px solid rgba(185, 185, 185, 0.4);
	border-top: 1px solid rgba(185, 185, 185, 0.4);
}

.chatroom .button-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	width: 100%;
	height: 29px;
}

.chatroom #send-message {
	display: block;
	background: url('/Images/send-icon-outline.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 50%, 50%;
	cursor: pointer;
	width: 30px;
	height: 100%;
	transition: background .2s linear;
}

.chatroom #user-input {
	position: absolute;
	resize: none;
	line-height: 21px;
	background-color: rgba(103,103,103, 0.5);
	padding: 4px;
	color: white;
	width : 80%;
	height: 100%;
	font-size: 16px;
	bottom: 0;
	border: none;
	border-top: 1px solid rgba(185, 185, 185, 0.4);

	-webkit-appearance: none;
	border-radius: 0;

	scrollbar-width: none;
	-ms-overflow-style: none;
}

.chatroom #user-input::-webkit-input-placeholder {
    color: #a9a9a9;
    opacity: 0.5;
}

.chatroom #user-input::-moz-placeholder {
	color: #a9a9a9;
	opacity: 0.5;
}

.chatroom #user-input:-ms-input-placeholder {
    color: #a9a9a9;
	opacity: 0.5;
}

.chatroom .room-name {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	width: 75%;
	height: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.chatroom .chat {
	padding: 5px;
	width: 75%;
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.chatroom .scroll-bottom {
	display: none;
	text-align: center;
	position: absolute;
	top: -50px;
	width: 100%;
	right: 0;
	z-index: 20;
}

.chatroom .scroll-bottom .fa {
	color: white;
	cursor: pointer;
	transition: color .2s linear;
}

::-webkit-scrollbar {
	display: none;
}

.chatroom .chat-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-top: 1px solid rgba(185, 185, 185, 0.4);
	border-right: 1px solid rgba(185, 185, 185, 0.4);
	border-bottom: 1px solid rgba(185, 185, 185, 0.4);
	background-color: rgba(0,0,0, 0.4);
}

.chatroom h6 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	height: 30px;
	background-color: rgba(0,0,0, 0.2);	
	padding: 5px;
	margin: 0;
	border-bottom: 1px solid rgba(185, 185, 185, 0.4);
}

.chatroom .outer-wrapper {
	display: table;
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 100vh;
  	width: 100vw;
  	z-index: -1;
}

.chatroom .middle-wrapper {
	display: table-cell;
  	vertical-align: middle;
}

.chatroom .container {
	position: relative;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	min-width: 90vw;
	height: 85vh;
	min-height: 560px;
	padding-bottom: 10px;
}

.chatroom .online-users {
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	border-left: 1px solid rgba(185, 185, 185, 0.4);
	border-right: 1px solid rgba(185, 185, 185, 0.4);
}

.chatroom .message-container {
	position: relative;
	padding: 8px;
	width: 100%;
	overflow: auto;
}

.chatroom .search-highlight {
	border-color: green !important;
}

.chatroom .message {
	position: relative;
	width: 40%;
	padding: 5px;
	padding-bottom: 1px;
	font-size: 14px;
	border-radius: 7px;
	overflow-wrap: break-word;
	color: orange;
	background: transparent;
	transition: all .1s linear; 
	outline: 1px solid transparent;

	-webkit-backface-visibility: hidden;
}

.chatroom .self .message {
	float: left;
	margin-left: 5px;
	border: 1px solid #3BB9FF;
}

.chatroom .other .message {
	float: right;
	margin-right: 5px;
	border: 1px solid red;
}

.chatroom .delete-header {
	padding: 5px;
}

.chatroom .delete-button {
	position: absolute;
	background: none!important;
	border: none;
	box-shadow: none;
	outline: none;
	padding: 0!important;
	font-family: arial, sans-serif;
	cursor: pointer;
	font-size: 0.75rem;
	color: grey;
	right: 5px;
	top: 0;
	transition: color .1s linear;
}

.chatroom .user {
	font-weight: bold;
}

.chatroom .self .user {
	color: #ADD8E6;
}

.chatroom .other .user {
	color: #ffcccb;
}

.chatroom .message-content {
	margin: 0px;
}

.chatroom .date-container {
	display: inline-block;
	width: 100%;
	padding-right: 3px;
}

.chatroom .date {
	float: right;
	color: white;
	opacity: 0.3;
}

.chatroom .users {
	overflow: auto;
}

.chatroom .redirect-container {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.chatroom .redirect-icon-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.chatroom .redirect-icon {
	display: inline-block;
	background: url('/Images/left-arrow-outline.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%, 50%;
	cursor: pointer;
	width: 60px;
	height: 40px;
	outline: none;
	border: none;
	box-shadow: none;
	transition: background .2s linear;
}

.chatroom .online-user {
	position: relative;
	text-align: center;
	color: white;
	font-size: 1rem;
	padding: 5px 5px 5px 5px;
	margin: 0;
	word-wrap: break-word;	
}

.spinner-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	position: relative;
	margin-bottom: 20px;
	width: 100%;
	
}

.spinner {
  width: 50px;
  height: 35px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  margin: 2px;
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}



@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.chatroom .dropdown-item:active {
	background: #393c40;
}

.chatroom .search-option:active {
	background: #393c40;
}

.chatroom .cancel-search:active { 
	color: #D3D3D3 !important;
}

.chatroom .search-minimize .fa-search:active {
	color: #D3D3D3;
}

.chatroom #no-private-messages:active {
	background-color: black;
}

.chatroom .nav-container:active .fa-envelope-o {
	color: #FFD700;
}

.chatroom .nav-link:active {
	color: #D3D3D3;
	text-decoration: none;
}

.chatroom #send-message:active {
	background: url('/Images/send-icon.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 50%, 50%;
}

.chatroom .scroll-bottom .fa:active {
	color: #00a8e1;
}

.chatroom .message:active {
	transform: scale(1.025);
}

.chatroom .delete-button:active {
	color: red !important;
}

.chatroom .online-user:active {
	background-color: rgba(105,105,105, 0.2);
}

.chatroom .redirect-icon:active {
	background: url('/Images/left-arrow.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%, 50%;
	width: 60px;
	height: 40px;
}

@media (hover: hover) {
	.chatroom .search-option:hover {
		background-color: #393c40;
	}

	.chatroom .cancel-search:hover { 
		color: #D3D3D3 !important;
	}

	.chatroom .search-minimize .fa-search:hover {
		color: #D3D3D3;
	}

	.chatroom #no-private-messages:hover {
		background-color: black;
	}

	.chatroom .nav-container:hover .fa-envelope-o {
		color: #FFD700;
	}

	.chatroom .nav-link:hover {
		color: #D3D3D3;
		text-decoration: none;
	}

	.chatroom #send-message:hover {
		background: url('/Images/send-icon.png');
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: 50%, 50%;
	}

	.chatroom .scroll-bottom .fa:hover {
		color: #00a8e1;
	}

	.chatroom .message:hover {
		transform: scale(1.025);
	}

	.chatroom .delete-button:hover {
		color: red !important;
	}

	.chatroom .online-user:hover {
		background-color: rgba(105,105,105, 0.2);
	}

	.chatroom .redirect-icon:hover {
		background: url('/Images/left-arrow.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50%, 50%;
		width: 60px;
		height: 40px;
	}

	.chatroom .redirect-container {
		border-top: 1px solid rgba(185, 185, 185, 0.4);
	}
}


@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.chatroom .chat {
		overflow: auto !important;
	}
}


@media only screen and (max-width: 575px) {
	.chatroom .container {
		margin-top: 80px;
		margin-bottom: 20px;
		min-width: 100%;
		height: 99vh;
		max-height: 1000px;
	}

	.chatroom .navbar {
		min-width: 100%;
	}

	.chatroom .dropdown-menu {
		left: 0px;
		width: 100%;
	}

	.chatroom .dropdown {
		width: 100% !important;
		margin: 0;
	}

	.chatroom .nav-item {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 40px;
		margin-right: auto;
	}

	.chatroom .search-minimize {
		display: inline-block;
	}

	.chatroom .search-container {
		display: none;
		position: absolute;
		top: 5px;
		width: 65%;
	}

	.chatroom .unseen-messages {
		justify-content: center;
	}
}